/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.bg-red {
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    background: red;
}

.bg-blue {
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    background: blue;
}